body,
html {
  height: 100%;
  margin: 0;
}

.container {
  text-align: center;
  height: 100%;
  padding: 16px;
  box-sizing: border-box;
}

.container div {
  padding: 15px;
  font-size: 32px;
  font-family: Helvetica;
  font-weight: bold;
  color: white;
  border-radius: 15px;
}

.header {
  background-color: #ffde22;
}

.sidebar {
  background-color: #ff7755;
}

.nav {
  background-color: #00ddff;
}

.article {
  background-color: #bccbde;
}

.article p {
  font-size: 18px;
  font-family: sans-serif;
  color: white;
  text-align: left;
}

.footer {
  background-color: #393f4d;
}

.container {
  display: grid;
  --sidebar-width: 300px;
  --row-size: 100px;
  grid-template-columns: calc(3 * var(--sidebar-width)) var(--sidebar-width);
  grid-template-rows: repeat(2, var(--row-size)) calc(5 * var(--row-size)) var(--row-size);
  grid-template-areas:
    'Header Header' 'Nav Sidebar'
    'Article Sidebar' 'Footer Footer';
  gap: 15px;
}

.header {
  grid-area: Header;
}

.nav {
  grid-area: Nav;
}

.article {
  grid-area: Article;
}

.sidebar {
  grid-area: Sidebar;
}

.footer {
  grid-area: Footer;
}
